body{
    font-family: arial;
    margin: 0;
    background: #eee;
}

#wrapper{
width: 980px;
margin: 0 auto;
background: #fff;

}

#main-navigation{
    background: #20007e;
    padding: 10px;
}

#main-navigation ul{
text-align: right;
list-style-type: none;
margin-right: 10px;

}

